{# templates/form/tailwind_form_theme.html.twig #}

{% block form_row %}
    <div class="mb-4">
        {{ form_label(form, null, {'label_attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
        {{ form_widget(form, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block form_errors %}
    {% if errors|length > 0 %}
        <div class="text-red-500 text-sm mt-2">
            {% for error in errors %}
                <p>{{ error.message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block form_label %}
    {% if label is not same as(false) %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' block text-gray-700 font-bold mb-2')|trim}) %}
        <label{{ block('attributes') }}>{{ label|trans }}</label>
    {% endif %}
{% endblock %}

{% block form_widget_simple %}
<input type="{{ type|default('text') }}" {{ block('widget_attributes') }} value="{{ value }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
{% endblock %}
